<div class='wrapper h-screen w-screen bg-gray-200 flex  '>

    <div class="parent mt-44 flex flex-col items-center gap-4
     text-gray-400 bg-white w-[23%] min-w-[400px] min-h-[300px] h-[45%] mx-auto ">

        <img class="w-28 mt-8" src="../../../../assets/images/email.svg" alt="email-sent">

        <h1 class="text-2xl font-bold text-black mt-10">{{header}}</h1>
        <p class="text-xs">{{subheader}} </p>

        <div
            class="border-t-[1px] border-gray-400 w-[80%] flex gap-4 flex-col text-xs justify-center items-center pt-8 ">
            <p>{{subActionText}}</p>
            <a href={{subActionHref}}
                class="text-blue-500 w-full mt-1 text-center p-2 border-[1px] border-gray-200 ">{{subAction}}</a>
        </div>


    </div>
</div>