<nav class=" p-4 px-8  h-[7vh] min-h[240px] bg-white shadow-[1.0px_2.0px_2.0px_rgba(0,0,0,0.38)]  ">
    <div class="body w-full text-xs text-gray-500 flex justify-between items-center">

        <div class="flex items-center gap-24">
            <div class="flex gap-4">
                <img src="../../../assets/images/logo.svg" alt="logo" class="w-8">
                <h1 class="text-2xl font-bold text-black">Modernize</h1>
            </div>

            <div class="flex gap-2">
                <img src="../../../assets/images/search.svg" alt="search-icon" class="w-5 inline">
                <input type="text" name="search" id="search" placeholder="Search...">
            </div>


        </div>

        <div class="flex gap-7 ">
            <img src="../../../assets/images/message.svg" alt="message-icon" class="w-3">
            <img src="../../../assets/images/notification.svg" alt="notification-icon" class="w-5">

            <div class="flex gap-4">
                <img src="../../../assets/images/user.svg" alt="user-icon" class="w-8">

                <select name="profile-settings" class="" defaultValue="" id="profile-settings">
                    <option value="X'eriyaPonald">X'eriyaPonald </option>
                    <option value="profile">Profile</option>
                    <option value="settings">Settings</option>
                    <option value="logout">Logout</option>
                </select>
            </div>
        </div>









    </div>


</nav>